
@model List<CQRSNight.MediatorDesignPattern.Results.GetCustomerQueryResult>

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<table class="table table-hover">
    <br />
    <tr>
        <th>Id</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerId</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerSurName</td>
            <td>
                <a href="/Customer/UpdateCustomer/@item.CustomerId" class="btn btn-primary">Güncelle</a>
                <a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>

<a href="/Customer/CreateCustomer/" class="btn btn-success">Yeni Müşteri</a>
